{% extends "base.html" %}

{% block title %}
Welcome
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<h1>Welcome to the Meeting Room Portal!</h1>
<p>This is a demo application for a Pluralsight course that I'm taking.</p>
<p>Please feel free to take a look around</p>
<br />
<p>To see a list of available rooms click <a href="{% url 'room_list' %}">here</a></p>
<p>To create a new meeting click <a href="{% url 'new_meeting' %}">here</a></p>
<h3>Scheduled meetings:</h3>
<ul>
    {% for meeting in meetings %}
    <li>
        <a href="{% url 'meeting_detail' meeting.id %}">
            {{ meeting.title }}
        </a>
    </li>
    {% endfor %}
</ul>
<br />
<br />
<p>If you want to go to the admin interface click <a href="/admin">here</a> to login.</p>

{% endblock %}